@font-face {
  font-family: "Ortica-Bold";
  src: url("fonts/Ortica-Bold.woff2") format("woff2"),
       url("fonts/Ortica-Bold.woff") format("woff");
}

@font-face {
  font-family: "Ortica-Light";
  src: url("fonts/Ortica-Light.woff2") format("woff2"),
       url("fonts/Ortica-Light.woff") format("woff");
}

body {
  padding-bottom: 20px;
  font-family: ortica-light;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  
}

@media screen and (max-width: 768px) {
  .blog-post ul li {
    display: inherit!important;
    margin: 10px;
  }

 

  section .blog-post {
    padding: 100px 50px!important;
  }
}


.container {
  max-width: 960px;
  text-align:center;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.bg-pinky {
  background-color: #c47574!important;
}

section .blog-post {
  padding: 200px 0;
}

.card {
  border: 0px;
  background-color: inherit;
}
.card img {
  width: 75%;
  height: auto;
  margin:0 auto;
  padding-top: 10px;
}

.card img:hover {
  opacity:0.5;
}

#logo img {
  max-width:200px;
}

.row img {
  border-radius: 200px;
  width:150px;
}

h1, h2 {
  font-family: ortica-bold;
  color: #000000;
}

h2 {
  font-size: 3em;
}


h3 {
  font-size: 1.25em;
  text-align: center;
  text-transform:uppercase;
  color: #00002a;
  font-family: ortica-bold;
}

h4 {
  font-size: 1.1em;
  text-align: center;
  text-transform:uppercase;
  color: #000000;
  font-family: ortica-bold;
}

.card-text {
  text-align: center;
  text-transform:uppercase;
  color: #000000;
  font-family: ortica-light;
}

.blog-post ul {
  list-style-type: none;
  margin-top: 40px;
  padding: 0px;
}

.blog-post ul li {
  display: inline;
  border: 1px solid #000000;
  border-radius: .25rem;
  padding: 0.75rem 0.5rem;
  background-color: #ffffff;
  color:#000000;
}

.blog-post ul li a {
  color:#000000;
}



.blog-post ul li a:hover {
  text-decoration: none;
}

/* ==== */


.navbar {
  margin-bottom: 20px;
}


.astrologers img {
  margin-top: 20px;
}

.astrologers h4 {
  margin-top: 20px;
}

.btn-store {
  color: #777777;
  min-width: 254px;
  padding: 12px 20px !important;
  border-color: #dddddd !important;
}

.btn-store:focus, 
.btn-store:hover {
  color: #ffffff !important;
  background-color: #168eea;
  border-color: #168eea !important;
}

.btn-store .btn-label, 
.btn-store .btn-caption {
  display: block;
  text-align: left;
  line-height: 1;
}

.btn-store .btn-caption {
  font-size: 24px;
}

.blog-post-meta {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 25px;
}
.nav-tabs li {
  display: inline;
  border: inherit!important;
  margin: 0 auto;
}

.nav-tabs {
  width:300px;
  margin: 0 auto;
}

.nav-tabs li .active {
  font-weight:900;
  border-bottom: 2px solid #000000;
}


#app-download {
  list-style-type: none;
  margin-top: 40px;
  padding: 0px;
  color:#ffffff;
}
.app h3, .app p {
  color:#ffffff;
}

#app-download li {
  display: inline;
  border: 1px solid #ffffff;
  border-radius: 0.25rem;
  padding: 0.75rem 0.5rem;
  background-color: #000000;
  color:#ffffff;
}

#app-download li:hover {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color:#000000
}

#app-download i {
  padding: 0px 6px;
}

#app-download li a {
  color: #444444;
}

.app {background-color:#000000;padding:100px 0px;}

#app-download li a:hover {
  text-decoration: none;
  color: #ffffff;
}

#subscribe {
  padding:10px;
  text-transform: uppercase;
  border: 1px solid #000000;
  width:250px;
  margin: 0 auto;
  border-radius: 0.25rem;
}

#footer-menu {
  list-style-type: none;
  margin-top: 40px;
  padding: 0px;
}

#footer-menu li {
  display: inline;
  padding: 10px 20px;
}

#footer-menu li:hover {
  text-decoration: underline;
}

.app #app-download li {
  border: 1px solid #ffffff!important;
}

#app-download li {
  border: 1px solid #000000!important;
}